body{
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 12%);
  height: 100vh;
}

#root {
  height: 100vh;
  /* overflow: hidden; */
  background-color: hsl(0, 0%, 12%);
}

.App {
  display: flex;
  flex-direction: column;
  /* background-image:url("/images/bk_face.png"); */
  /* min-height: 100vh; */
  margin: 0px;
  /* padding-left: 1rem; */
  /* height: 100vh; */
  /* padding: 1rem; */
  justify-content: space-between;
  /* /* height: 100%; */
  height: 100%;
  /* max-height: 100%; */
  /* height: 100%; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: rgb(183, 183, 240); */
  /* height: 100vh; */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
}

.header{
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(26, 29, 27, 0.747); */
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 1rem;

  /* margin-left: 2rem; */
  /* margin-right: 2rem; */
  /* margin-top: 1rem; */
  padding: 0.5rem;
  border-radius: 1rem;
}

.about {
  margin-right: 1rem;
  color: rgb(255, 255, 255);
  
}

.logo {
  display: inline-flex;
  color: rgb(255, 255, 255);
  align-items: center;
  background-color: rgb(0, 0, 0);
  height: 5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.logo h2 {
  display: inline;
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.logo-img {
  height: 100%;
}

.upload-btn {
  background-color: rgb(0, 0, 0);
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  /* position: absolute; */
  
}

.upload-btn input[type="file"] {
  display: none; /* Hides the default file input */
}

.upload-btn-uploaded {
  background-color: rgb(0, 0, 0);
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  /* position: absolute; */
  /* bottom: 0; */
}

.upload-btn:hover {
  background-color: aliceblue;
  color: black;
}

.body-main{
  display: flex;
  height: 100%;
  flex: 1;
/* 
  flex: 1; */
  /* flex-direction: row; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-window-main{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 80vh;
  /* min-width: 35rem; */
  width: 100%;
  justify-content:space-between;
  /* max-height: 100%; */
  /* width: 50%; */
  /* height: 40rem; */
}

.image-window {

  display: inline-block;
  /* background-color: aqua; */
  position: relative;
  /* flex: 1; */
  /* width: 80%; */
  /* height: 30vh; */
  /* width: 80%;
  height: 100%; */
  /* max-width: 100%;
  max-height: 100%; */
  /* width: 20rem; */
  /* height:20rem; */
  /* flex: 2; */
  /* width: 100%; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100%; */
  /* width: 100%; */
  /* width: 80%;
  height: 80%; */
  width: 30rem;
  height: 35rem;
}

.image-window img {
  /* top: 0; */
  /* display: block; */
  /* position: absolute; */
  /* max-width: 100%; */
  /* width:35rem;
  height: 35rem; */
  /* width: 35rem; */
  /* max-width: 80%; 
  max-height: 80%; */
  width: 100%;
  height: 100%;
  
  /* object-fit: contain; */
  
}

.upload-window {

  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content:center ;
  width: 100%;
}



.bounding-box {
  position: absolute;
  border: 3px solid red;
  box-sizing: border-box;
  pointer-events: all;
}

.footer {
  color: aliceblue;
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin-top: 1rem; */
  /* width: 100%; */
  /* position: absolute;
  bottom: 1rem; */
  width: 100%;
}

.results-window {
  display: flex;
  flex-direction: column;
  width: 28rem;
  overflow-y: auto;
  height: 80%;
  /* height: 60%; */
  /* min-height: 80vh; */
  /* max-height: 100%; */
  background-color: rgb(54, 54, 54);
  padding: 0.3rem;
  box-shadow: 0px 1px 15px black;
  
}

.samples-window {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: rgb(54, 54, 54);
  padding: 0.3rem;
  box-shadow: 0px 1px 15px black;
  overflow-y: auto;
  /* height: 100%; */
  /* overflow-y: scroll; */
  /* min-height: 100%; */
  
}


.character-card{

  background-color: rgb(110, 110, 110);
  display: block;
  padding: 5px;
  /* width: 28rem; */
  margin-bottom: 1rem;
}

.image-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.137); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is above the image but below the content */
}

.image-card {
  position: relative;
  display: flex;
  border: 1px solid black;
  height: 10rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.image-card:hover{

  
}

.image-card h4{

  color: rgb(255, 255, 255);
  z-index: 2;
  
}

.image-card::after:hover{

  background-color: rgba(255, 255, 255, 0);
}

